<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuyBallsServlet</servlet-name>
        <servlet-class>Servlets.BuyBallsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BallCategoryServlet</servlet-name>
        <servlet-class>Servlets.BallCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBallFromCartServlet</servlet-name>
        <servlet-class>Servlets.RemoveBallFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseBallsServlet</servlet-name>
        <servlet-class>Servlets.PurchaseBallsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BallCRUD</servlet-name>
        <servlet-class>Servlets.BallCRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryCRUD</servlet-name>
        <servlet-class>Servlets.CategoryCRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByUserAndLoginTime</servlet-name>
        <servlet-class>Servlets.FilterByUserAndLoginTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPurchasesServlet</servlet-name>
        <servlet-class>Servlets.PrintPurchasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePageServlet</servlet-name>
        <servlet-class>Servlets.ProfilePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseMethodServlet</servlet-name>
        <servlet-class>Servlets.PurchaseMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyBallsServlet</servlet-name>
        <url-pattern>/BuyBalls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BallCategoryServlet</servlet-name>
        <url-pattern>/BallCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBallFromCartServlet</servlet-name>
        <url-pattern>/RemoveBallFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseBallsServlet</servlet-name>
        <url-pattern>/PurchaseBalls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BallCRUD</servlet-name>
        <url-pattern>/BallCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryCRUD</servlet-name>
        <url-pattern>/CategoryCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByUserAndLoginTime</servlet-name>
        <url-pattern>/FilterByUserAndLoginTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPurchasesServlet</servlet-name>
        <url-pattern>/PrintPurchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePageServlet</servlet-name>
        <url-pattern>/ProfilePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseMethodServlet</servlet-name>
        <url-pattern>/PurchaseMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainPage.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/LoginPage.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
