<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuyBallsServlet</servlet-name>
        <servlet-class>Servlets.BuyBallsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BallCategoryServlet</servlet-name>
        <servlet-class>Servlets.BallCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBallFromCartServlet</servlet-name>
        <servlet-class>Servlets.RemoveBallFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseBallsServlet</servlet-name>
        <servlet-class>Servlets.PurchaseBallsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyBallsServlet</servlet-name>
        <url-pattern>/BuyBalls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BallCategoryServlet</servlet-name>
        <url-pattern>/BallCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBallFromCartServlet</servlet-name>
        <url-pattern>/RemoveBallFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseBallsServlet</servlet-name>
        <url-pattern>/PurchaseBalls</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
